<div class="flex justify-center items-center">
    <section class="border rounded-lg p-5 flex flex-col">
        <h1>수정하기~</h1>
        <%= render 'form', post: @post, buttonName: '수정하기' %>
    </section>
</div>